:root {
  --main-bg-color: #2c2c2c;
  --main-dark-color: var(--main-bg-color);
  --white-color: #fff;
  --accent-color: #fa9e00;
  --main-color: #11ae88;
}

/* *:focus {
  outline: none;
 
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
} */

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-dark-color);
  text-decoration: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  position: relative;
  margin: 0;
}

.page-container {
  /* display: flex; */
  flex-direction: row;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  position: relative;

  /* transition: all 0.5s ease-in-out; */
  /* #FIX# ---> For some reason transition doesn't have an effect on sidebar on off  */
}

.main-background-img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;

  background-image: url(./img/ezgif-cloudedit.gif);
  background-size: cover;
  opacity: 0.6;
  z-index: 0;
}

.page-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 25vw;
  max-width: 1140px;
  margin: 0 auto 0 16vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--main-color);
  padding: 1em;
  gap: 1em;
  position: fixed;
  transition: all 0.4s ease-in-out;
  text-align: center;
  z-index: 99;
  height: 100%;
}

.sidebar.sidebar--closed {
  /* background-color: var(--main-color); */
  transform: translateX(-184px);
}

/* .menu-toggle {
  
} */

.sidebar.sidebar--closed:hover {
  transform: translateX(0);
}

.sidebar span {
  justify-self: center;
}

/* .sidebar--closed .logo {
  height: 40px;
  width: 40px;
} */

.logo-name {
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 2em;
}

.logo {
  width: 97px;
  height: 149px;
  min-height: 97px;
  border-radius: 300px;
  border: solid 4px var(--white-color);
  background-color: blue;
  justify-self: center;
  align-self: center;
  background-image: url(img/avatar-img-bw.jpg);
  background-size: cover;
  overflow: hidden;
}

.logo-name-aka {
  /* margin-top: 0.5em; */
  font-weight: 700;
  font-size: 1.5em;
}

.logo-subtitle {
  font-weight: 600;
  font-size: 1rem;
}

.navlist {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  flex-basis: 1;
}

.navlist-item {
  border-radius: 0em;
  display: flex;
  flex-direction: column;

  width: 160px;
  /* flex-basis: 1; */
}

.sidebar span:nth-of-type(2) {
  display: inline-block;
  padding-left: 1em;
}

.sidebar .navlist-item a {
  border-radius: 0px;
  background-color: var(--main-dark-color);
  padding: 16px;
  justify-content: space-between;
}

.navlist a {
  display: flex;
  justify-content: end;
  color: var(--main-color);

  transition: all 0.5s ease-in-out;
}

.navlist a:hover {
  color: var(--accent-color);
  background-color: rgb(78, 78, 78);
  /* border-radius: 0 2em 2em 0; */
}

.navlist a:active {
  border-radius: 0.25em;
  box-shadow: 0 0 0em 0.5em #ffffff5d;
}

.navlist.navlist-item a:focus {
  outline: none;
  box-shadow: 0 0 0em 0.5em #00ffc87c;
}

.navlist-item a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.navlist-item a span:first-child {
  display: flex;
  height: 15px;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  margin-top: auto;
  margin-bottom: 1.5em;

  gap: 0.5em;
  font-size: 1.5em;
}

.social-icons a {
  width: 24px;
  height: 24px;

  display: block;

  padding: 0.25em;
  border-radius: 50%;

  color: #11ae88;
  background-color: #2c2c2c;
}

.social-icons a:hover {
  color: var(--accent-color);
  background-color: rgb(78, 78, 78);
  /* border-radius: 0 2em 2em 0; */
}

.social-icons a:active {
  border-radius: 0.25em;
  box-shadow: 0 0 0em 0.5em #ffffff5d;
}

.menu-toggle {
  background-color: var(--main-color);
  color: var(--main-dark-color);
  border: none;
  border-radius: 8px 8px 0 0;
  padding: 0.5em 1em;
  font: inherit;
  /* font-family: sans-serif; */
  /* cursor: pointer; */
  outline: inherit;
  position: absolute;
  transform: rotate(90deg);
  /* -webkit-transform: rotate(90deg); */
  top: 3em;
  left: 154px;
  width: 94px;
  z-index: 999;
}

/* .menu-toggle:hover {
  color: white;
  font-size: 1.05em;
} */

/* ------------------- */
.hello {
  color: white;
}

.test-message {
  font-size: 6rem;
}

.display-none {
  display: none;
}

.test-rectangle {
  margin-top: 64px;
  height: 300px;
  width: 600px;
  background-color: white;
}

/* QUERIES */
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .sidebar.sidebar--closed {
    transform: translate(-99%) !important;
  }
  .sidebar {
    transform: translate(0px) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    height: 100vh;
  }

  .menu-toggle {
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 0.5em 1em;
    font: inherit;
    /* font-family: sans-serif; */
    /* cursor: pointer; */
    outline: inherit;
    position: fixed;
    transform: rotate(90deg);
    /* -webkit-transform: rotate(90deg); */
    top: 3em;
    left: 91%;
    width: 94px;
  }

  .page-container:not(.sidebar--closed) {
    overflow: hidden;
  }

  .sidebar:not(.sidebar--closed) .menu-toggle {
    left: 82%;
    top: 2em;
  }
  /* .page-container :not(.sidebar--closed) {
    overflow: hidden;
    background-color: red;
    
  } */
}

@media (max-height: 35em) {
  .sidebar.sidebar--closed {
    transform: translate(-99%) !important;
  }

  .sidebar--closed .navlist {
    flex-direction: column;
  }

  .navlist {
    flex-direction: row;
    overflow: hidden;
  }

  .sidebar {
    transform: translate(0px) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    height: 100vh;
  }

  .menu-toggle {
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 0.5em 1em;
    font: inherit;

    outline: inherit;
    position: fixed;

    top: 3em;
    left: 96%;
    width: 94px;
  }

  .page-container:not(.sidebar--closed) {
    overflow: hidden;
  }

  .sidebar:not(.sidebar--closed) .menu-toggle {
    left: 88%;
    top: 2em;
  }
}

@media (max-height: 30em) {
  .logo {
    min-height: 0em;
    height: 1.5em;
  }
}

@media (max-height: 21em) {
  .logo {
    display: none;
  }
}

@media (max-width: 49em) and (max-height: 24em) {
  .menu-toggle {
    left: 94%;
  }
}
